<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-254675481-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-254675481-1');
  </script>

  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Kaiser Hamid
              </h1>

          <p>
        I am a Ph.D. student at <a href="https://www.ttu.edu/">Texas Tech University</a> and a Graduate Research Assistant in the
        <a href="https://www.hiacelab.com/">Human-in-the-loop Advanced Cognitive Engineering (HiACE) Lab</a>, advised by
        <a href="https://scholar.google.com/citations?user=w6e-GSgAAAAJ&hl=zh-TW">Dr. Nade Liang</a>. I am also pursuing an
        M.S. in Electrical &amp; Computer Engineering at Texas Tech University. I received my B.Sc. degree from
      <a href="https://www.buet.ac.bd/">Bangladesh University of Engineering &amp; Technology (BUET)</a>.
      </p>

    <p style="color: red;">
        I am open to research collaborations and internship/visiting opportunities. If you find me a good fit, feel free to reach out!      
    </p>


             <p style="text-align:center">
                <a target="_blank" href="https://kaiser-75.github.io/cv/cv_kaiser.pdf">CV</a> &nbsp;/&nbsp;
                <a target="_blank" href="mailto:kaiser@ttu.edu">Email</a> &nbsp;/&nbsp;
                <a target="_blank" href="https://scholar.google.com/citations?user=rMcz-ckAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a target="_blank" href="https://www.linkedin.com/in/kaiser-buet/">LinkedIn</a> &nbsp;/&nbsp;
                <a target="_blank" href="https://github.com/kaiser-75">GitHub</a>
            </p>

            </td>

            <td style="padding:2.5%;width:20%;max-width:20%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/IMG_8096.jpeg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
               My research centers on computer vision and multimodal learning for human-centered intelligent systems. 
                I build models that reason over visual and temporal context and develop evaluation methods that improve robustness and interpretability in safety-critical settings, including autonomous driving. 
                Currently, I am particularly interested in vision-language supervision and generalizable benchmarks for end-to-end autonomy and human–AI interaction.
              </p>

              <style>
                .specific-line {
                  margin-bottom: -15px; /* reduce space below this line */
                }
              </style>

              <p class="specific-line">
                <br> (* indicates equal contribution, <sup>†</sup> indicates equal advising)
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:1.2%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:1.2%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.models %}
              <a href="{{post.models}}">models</a> /
              {% endif %}
              {% if post.thread %}
              <a href="{{post.thread}}">thread</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Professional Service</h2>
              <p>
                <b>Conference Review:</b> HFES'25, TRB'26
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <!-- <h2>Teaching</h2>
              <p>
                (add your TA/instructor roles here)
              </p> -->
            </td>
          </tr>
        </table>

        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>
